@font-face{
	font-family: cinzel;
	src: url(./Resources/www/fonts/Cinzel-Regular.otf) format("opentype");
}
@font-face{
	font-family: great-vibes;
	src: url(./Resources/www/fonts/GreatVibes-Regular.otf) format("opentype");
}